.about
  Thundercloud Records is a small independent record label currently based in the Echo Park neighborhood of Los Angeles.
  Our mission is to help talented musicians release their music in physical formats.

.contact
  We are currently accepting demo submissions.

  .label Demo submissions:
  demos@thundercloudrecords.com

  .label General information:
  evan@thundercloudrecords.com
