.artists-wrapper
  margin: 0 auto
  padding-top: 20px
  width: 90%

.artist
  font-family: "GeosansLight"
  display: inline-block
  width: 33%
  text-align: center
  padding-bottom: 40px
  margin: 0 auto

  .name
    font-size: 22px
    font-weight: bold

  .image img
    border: 1px solid black

.artist-show
  font-family: 'Lato'
  display: block
  text-align: center
  margin: 16px

  .name
    font-family: 'OriginLight'
    display: block
    font-size: 34px
    font-weight: bold
    margin-top: 20px

  .desc
    display: block
    font-size: 20px

.album
  font-family: 'Lato'
  display: block
  margin: 0 auto

  .image img
    display: block
    margin: 0 auto

  .name
    text-align: center
    margin-top: 15px

.artist-product
  display: block
  margin: 0 auto
  width: 300px

  .image img
    display: block
    margin: 0 auto
    border: 1px solid

  .name
    display: inline-block
    margin-top: 15px
    width: 75px

  .price
    display: inline-block
    margin-top: 15px
    float: right
    width: 50px

.artist-albums
  font-family: 'Lato'
  p
    text-align: center

.artist-products
  font-family: 'Lato'
  p
    text-align: center
