@mixin font-face($family, $file-name, $weight) {
  @font-face {
      font-family: $family;
      src: url("#{$file-name}.eot");
      src: url("#{$file-name}.eot?#iefix") format('embedded-opentype'),
           url("#{$file-name}.woff") format('woff'),
           url("#{$file-name}.ttf") format('truetype');
      font-weight: $weight;
      font-style: normal;

  }
}

@include font-face("Lato",  "lato-light",   200);
@include font-face("Lato",  "lato-regular", 400);
@include font-face("Lato",  "lato-bold",    600);
@include font-face("Lato",  "lato-black",   800);

@font-face {
  font-family: 'Futurist';
  src:font-url('FUTRFW.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OriginLight';
  src:font-url('Origin-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeosansLight';
  src:font-url('GeosansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Market Deco';
  src:font-url('Market_Deco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roman Serif';
  src:font-url('RomanSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roman Serif Oblique';
  src:font-url('RomanSerif-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
